vault:
  overrides:
    keybase_users:
      - renaissancedev
      - pdpinch
      - bdero
    secret_shares: 3
    secret_threshold: 2
    config:
      backend:
        file:
          path: /var/vault/data
