{% set vault = salt.grains.filter_by({
    'default': {
        'service': 'vault',
        'ssl_directory': '/etc/salt/ssl',
        'ssl': {},
        'config': {
            'backend': {
                "file": {
                    "path": "/var/vault/data"
                }
            },
            'listener': {
                'tcp': {
                    'address': 'localhost:8200',
                    'tls_cert_file': '/etc/salt/ssl/certs/vault.example.com.crt',
                    'tls_key_file': '/etc/salt/ssl/certs/vault.example.com.key'
                }
            },
        },
        'version': '0.5.2',
        'secret_shares': 5,
        'secret_threshold': 3,
        'unseal': True,
        'pgp_keys': [],
        'keybase_users': []
    },
    'Debian': {
    },
    'RedHat': {
    },
}, grain='os_family', merge=salt.pillar.get('vault:overrides'), base='default') %}

{% set vault_service = salt.grains.filter_by({
    'systemd': {
        'init_file': '/etc/systemd/system/vault.service',
        'init_source': 'salt://vault/files/vault.service'
    },
    'upstart': {
        'init_file': '/etc/init/vault',
        'init_source': 'salt://vault/files/vault.upstart'
    }
}, grain='init', merge=salt.pillar.get('vault:service')) %}
