{% set vault = salt.grains.filter_by({
    'default': {
        'architecture_dict': {
            'x86_64': 'amd64',
            'amd64': 'amd64',
            'i386': '386',
            'i686': '386'
        },
        'service': 'vault',
        'ssl_directory': '/etc/salt/ssl',
        'ssl': {},
        'config': {
            'listener': {
                'tcp': {
                    'address': 'localhost:8200',
                    'tls_cert_file': '/etc/salt/ssl/certs/vault.example.com.crt',
                    'tls_key_file': '/etc/salt/ssl/certs/vault.example.com.key'
                }
            },
        },
        'version': '0.6.0',
        'secret_shares': 5,
        'secret_threshold': 3,
        'unseal': True,
        'pgp_keys': [],
        'keybase_users': []
    },
    'Debian': {
        'module_dependencies': {
            'pkgs': ['libffi-dev', 'python-dev', 'gcc', 'libssl-dev', 'python', 'curl'],
            'pip_deps': ['pyopenssl', 'hvac', 'testinfra']
        }
    },
    'RedHat': {
        'module_dependencies': {
            'pkgs': ['libffi-devel', 'openssl-devel', 'gcc', 'python-devel', 'curl'],
            'pip_deps': ['pyopenssl', 'hvac', 'testinfra']
        }
    },
}, grain='os_family', merge=salt.pillar.get('vault:overrides'), base='default') %}

{% set vault_service = salt.grains.filter_by({
    'systemd': {
        'init_file': '/etc/systemd/system/vault.service',
        'init_source': 'salt://vault/files/vault.service'
    },
    'upstart': {
        'init_file': '/etc/init/vault.conf',
        'init_source': 'salt://vault/files/vault.upstart'
    }
}, grain='init', merge=salt.pillar.get('vault:service')) %}
