[Unit]
Description=Hashicorp Vault secret management service
Documentation=http://vaultproject.io

[Service]
Type=forking
ExecStart=/usr/local/bin/vault server -config /etc/vault 2>&1 &
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
Restart=always
PIDFile=/var/run/vault.pid
TimeoutStartSec=1
User={{ vault.user }}
Group={{ vault.group }}

[Install]
WantedBy=multi-user.target
