{% set hashicorp-vault = salt['grains.filter_by']({
    'default': {
        'pkg': 'hashicorp-vault',
        'service': 'hashicorp-vault',
        'conf_file': '/etc/hashicorp-vault/hashicorp-vault.conf',
        'config': {
            'key': 'value',
        },
    },
    'Debian': {
    },
    'RedHat': {
    },
}, grain='os_family', merge=salt['pillar.get']('hashicorp-vault:lookup'), base='default') %}
